<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar sticky-top bg-white">
      <div class="container-fluid d-flex">
        <a class="navbar-brand d-flex me-auto" href="/">
          <%= image_tag "logo.png", class: "d-inline-block align-text-bottom", style: 'width:40px;height:40px;', alt: "Logo" %>
          <%= link_to "💗 My lists", lists_path, class: "btn btn-light me-3" %>
          <%= link_to "➕ New list", new_list_path, class: "btn btn-light me-3" %>
        </a>
      </div>
    </nav>
    <div class= "container mt-5">
      <%= yield  %>
    </div>
  </body>
</html>
